.formStyles {
  display: flex;
  justify-content: center;
}

.postForm {
  display: flex;
  flex-direction: column;
}

.postContent {
  display: flex;
  flex-direction: column;
}

.targetSelect {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;
}

.submitButton {
  width: 60%;
  margin: 0 auto;
}

.txtArea {
  height: 132px;
}

.error {
  color: #e50000;
  text-align: left;
  padding: 8px;
}

.labelStyle {
  font-weight: 600;
  display: flex;
  align-items: start;
  padding: 0;
  margin: 16px 0 8px 8px;
}

.colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.colorWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  border-radius: 8px;
}

.labelDetails {
  font-weight: 400;
  font-size: 0.9em;
  display: flex;
  align-items: start;
  padding: 0 0 8px 8px;
}

.postForm fieldset {
  padding: 8px;
  margin: 0;
}
