@import "../../colors.css";

.avatar {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.profile {
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: center;
  text-align: center;
  margin-top: 16px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#username {
  font-weight: 600;
  font-size: 1.1em;
}

.logoutButton {
  padding-bottom: 8px;
  background-color: var(--very-light-background);
  border-radius: 0 0 8px 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profilePicture {
  width: 100%;
  align-self: center;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(#f4f4f4 45%, #ffffff 40%);
  padding-bottom: 20px;
}

.editBackground {
  display: flex;
  align-self: flex-end;
  border-radius: 8px 8px 0 0;
  background: #f4f4f4;
  padding-top: 8px;
  padding-right: 8px;
}

.editBackground a {
  text-decoration: none;
  line-height: 1em;
}

.profileName {
  font-weight: 600;
  align-items: center;
  text-align: center;
}

.profileStatus {
  align-items: flex-start;
  text-align: center;
  margin-bottom: -8px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1.5px solid #d6dedb;
}

.profileBio {
  font-weight: 600;
  text-align: left;
  align-self: flex-start;
  margin-bottom: -8px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1.5px solid #d6dedb;
}

.profile p {
  font-weight: 400;
  margin-top: 4px;
}

.profileFunfact {
  font-weight: 600;
  align-self: flex-start;
  text-align: left;
  margin-left: 8px;
  margin-bottom: 8px;
}

.textBackground {
  background-color: var(--very-light-background);
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
  padding: 0px;
  align-self: center;
  text-align: center;
}
