@import "../../colors.css";

.form-title {
  margin-top: 8px;
  font-weight: 600;
}

.replyForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 700px;
  margin: 0 auto;
  padding: 16px;
}

.error {
  color: #e50000;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
