@import "../../colors.css";

.topicCard {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  background: var(--very-light-background);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  text-align: left;
}

.topicCard header {
  background-color: var(--light-background);
  border-radius: 8px 8px 0 0;
  padding: 8px;
}

.topicCard header p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.topicCard div {
  padding: 8px;
}

.topicCard footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding: 8px;
}
