.icon-link {
  border: none;
}

.icon-link::after {
  display: none;
  content: none;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.small {
  width: 50px;
  height: 50px;
}
