.error {
  color: #e50000;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search:focus-within {
  outline: 4px auto -webkit-focus-ring-color;
}

.search input {
  border: none;
  width: 100%;
}

.search input:focus,
.search button:focus {
  outline: none;
  border: none;
}
