@import "../../colors.css";

.profileForm {
  display: flex;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}

.error {
  color: #e50000;
}

.inputBackground {
  /* White */
  background: #ffffff;
  /* border */
  border: 1px solid #afb1b6;
  border-radius: 8px;
  margin-bottom: 16px;
}

.profileSettingsButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 24px;
  gap: 10px;
  margin-top: 60px;
  margin-left: 25%;
  margin-right: 25%;
}

.settingsBackground {
  background-color: var(--very-light-background);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  padding: 8px;
  text-align: left;
}

.labelStyle {
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonLight {
  background-color: var(--very-light-background);
  color: var(--text-color);
  border-bottom: 1px solid black;
  border-radius: 0;
  margin-left: 40%;
  margin-right: 40%;
}

.buttonLight:hover {
  background-color: var(--very-light-background);
  border-bottom-color: var(--experis-blue);
  color: var(--experis-blue);
}

.desc {
  font-size: 0.8em;
}
