@import "../../colors.css";

.login-wrapper {
  padding: 32px 16px;
}

.login {
  border-radius: 64px;
  background-color: var(--very-light-background);
  margin: 0 auto 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.login img {
  width: 100%;
}
