.create {
  background: var(--very-light-background);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-bottom: 8px;
}

.formStyles {
  display: flex;
  justify-content: center;
}

.postForm {
  display: flex;
  flex-direction: column;
}

.postForm fieldset {
  margin: 0;
  padding: 8px;
}

.postContent {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.targetSelect {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 0;
}

.submitButton {
  width: 60%;
  margin: 0 auto;
}

.txtArea {
  height: 132px;
}

.error {
  color: #e50000;
  text-align: left;
}

.top-menu {
  background-color: var(--very-light-background);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  min-width: 320px;
  border-radius: 8px;
}

.top-menu div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.selectStyles {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.top-menu button {
  background-color: var(--very-light-background);
  color: var(--text-color);
  border-radius: 0px;
  border-bottom-color: var(--very-light-background);
  border-bottom-width: 2px;
}

.top-menu button:first-of-type {
  border-radius: 8px 0 0 0;
}

.top-menu button:last-of-type {
  border-radius: 0 8px 0 0;
}

.top-menu button.selected {
  border-bottom-color: var(--experis-blue);
  font-weight: 600;
}

.top-menu button:hover {
  background-color: var(--very-light-background);
  color: var(--experis-blue);
  border-bottom-color: var(--experis-blue);
}

.labelText {
  font-weight: 600;
  padding: 0 0 8px 8px;
  margin-top: 16px;
  text-align: left;
}
