:root {
  --button-background: #21262e;
  --button-text: #fff;
  --experis-blue: #386097;
  --very-light-background: #fff;
  --light-background: #f4f4f4;
  --text-color: #2d2f32;
  --experis-red: #9d323d;
  --experis-green: #5d7d70;
  --link-hover-color: ;
}
