@import "../../colors.css";

.info {
  background-color: var(--very-light-background);
  padding: 8px;
  text-align: left;
}

.info p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.info p:first-of-type {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 1em;
}

.tabs {
  background-color: var(--very-light-background);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  min-width: 320px;
  border-radius: 0 0 8px 8px;
  position: sticky;
  top: 68px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tabs button {
  background-color: var(--very-light-background);
  color: var(--text-color);
  border-radius: 0px;
  border-bottom-color: var(--very-light-background);
  border-bottom-width: 2px;
}

.tabs button:first-of-type {
  border-radius: 0 0 0 8px;
}

.tabs button:last-of-type {
  border-radius: 0 0 8px 0;
}

.tabs button.selected {
  border-bottom-color: var(--experis-blue);
  font-weight: 600;
}

.tabs button:hover {
  background-color: var(--very-light-background);
  color: var(--experis-blue);
  border-bottom-color: var(--experis-blue);
}

.add-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 814px) {
  .tabs {
    margin-left: -16px;
    margin-right: -16px;
  }
  .info {
    margin-left: -16px;
    margin-right: -16px;
  }
  .tabs button:first-of-type {
    border-radius: 0;
  }

  .tabs button:last-of-type {
    border-radius: 0;
  }
}
